{% extends "base.html" %}

{% block contenido %}
<h1>Lista de estudiantes</h1>
<a href="{% url 'crear_bueno' %}">Crear entrada para personaje bueno </a>
<br>

<table class="table">
  <tbody>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Sexo</th>
      <th>Bio</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    {% for bueno in buenos %}
    <tr>
      <td>{{ bueno.id }}</td>
      <td>{{ bueno.nombre }}</td>
      <td>{{ bueno.sexo }}</td>
      <td>{{ bueno.bio }}</td>       
      <td>
        <form action="{% url 'borrar_bueno' bueno.id %}" method="post">
          {% csrf_token %}
          <input type="submit" class="btn btn-link" value="borrar"/>
        </form>        
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock contenido %}
