{% extends "base.html" %}

{% block contenido %}
<h1>Lista de Buenos:</h1>
<a href="{% url 'crear_bueno' %}">Crear entrada de personaje bueno</a>
<br>

<table class="table">
  <tbody>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Sexo</th>
      <th>Bio</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    {% for bueno in buenos %}
    <tr>
      <td>{{ bueno.id }}</td>
      <td>{{ bueno.nombre }}</td>
      <td>{{ bueno.sexo }}</td>
      <td>{{ bueno.bio }}</td>
      <td>       
        <a href="{% url 'eliminar_bueno' bueno.id %}">
          <i class="bi bi-trash"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock contenido %}
