{% extends "base.html" %}

{% block contenido %}
<h3>Lista de personajes malos</h3>
<a href="{% url 'lista_malos' %}">Ver todos</a>
<a href="{% url 'crear_malo' %}">Crear entrada de personaje malo</a>
<br><br>
<form action="{% url 'buscar_malo' %}" method="post">
  {% csrf_token %}
  <input type="text" name="busqueda">
  <input type="submit" value="Buscar por nombre">
</form>
<br>

<table class="table">
  <tbody>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Sexo</th>
      <th>Bio</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    {% for malo in malos %}
    <tr>
      <td>{{ malo.id }}</td>
      <td>{{ malo.nombre }}</td>
      <td>{{ malo.sexo }}</td>
      <td>{{ malo.bio }}</td>       
      <td>
        <form action="{% url 'borrar_malo' malo.id %}" method="post">
          {% csrf_token %}
          <input type="submit" class="btn btn-link" value="borrar"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock contenido %}
