{% extends "base.html" %}

{% block contenido %}
<h3>Lista de personajes buenos</h3>
<a href="{% url 'lista_buenos' %}">Ver todos</a>
<a href="{% url 'crear_bueno' %}">Crear entrada de personaje bueno</a>
<br><br>
<form action="{% url 'buscar_bueno' %}" method="post">
  {% csrf_token %}
  <input type="text" name="busqueda">
  <input type="submit" value="Buscar por nombre">
</form>
<br>

<table class="table">
  <tbody>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Sexo</th>
      <th>Bio</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    {% for bueno in buenos %}
    <tr>
      <td>{{ bueno.id }}</td>
      <td>{{ bueno.nombre }}</td>
      <td>{{ bueno.sexo }}</td>
      <td>{{ bueno.bio }}</td>       
      <td>
        <form action="{% url 'borrar_bueno' bueno.id %}" method="post">
          {% csrf_token %}
          <input type="submit" class="btn btn-link" value="borrar"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock contenido %}
